.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    width: 100%;
    height: 60vh; 
    position: relative;
}

.img-container img {
    max-width: 60%;
    max-height: 60%;
    object-fit: cover; 
    position: absolute;
}
.colore_to{
    color: blueviolet;
    font-size: 17px;
}
